<div class="container">
  <button class="btn" hover
          *appUnless="!status"
    [defaultColor]="'yellow'"
  >
    Hover on me
  </button>
  <button class="btn" dropdown
          (click)="status = !status"
  >
    Toggle status
  </button>
  <br>
  <div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
    <div class="menu-toggler" (click)="toggleMenu()">Toggle menu</div>
    <div class="menu" *ngIf="isMenuOpened">
      <div class="menu__item">News</div>
      <div class="menu__item">About</div>
      <div class="menu__item">Contancts</div>
    </div>
  </div>
</div>
